/* Global Styles */
button,
.small-button,
.pay-it-button,
.cancel-button {
  background-color: #DAA520;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
.small-button:hover,
.pay-it-button:hover,
.cancel-button:hover {
  background-color: lightblue;
}

/* Root */
#root {
  text-align: center;
  margin: 1.2rem;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* Auth Wrapper */
.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  padding: 20px;
}

/* Authenticator */
.authenticator {
  background-color: #DAA520;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Top-right Logout Button */
.top-right-logout {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Bill Card */
.bill-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.bill-card.expanded-card {
  width: 80%;
}

.bill-card.greyed-out {
  background-color: #d3d3d3;
  color: #777;
}

.bill-card h4 {
  margin-bottom: 10px;
  text-align: center;
}

.bill-card p {
  margin: 5px 0;
}

/* Tabs */
.tabs {
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
}

.tabs button.active {
  background-color: lightblue;
  color: black;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 20px;
}

/* Modal */
.modal,
.cancel-modal {
  position: absolute;
  top: 100%;
  left: 12.5%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 75%;
  display: flex;
  justify-content: space-around;
  font-size: 0.65rem;
}

/* Small Button */
.small-button {
  padding: 4px 10px;
  font-size: 0.65rem;
  text-align: center;
  min-width: 50px;
}

/* Payment Options */
.payment-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.payment-options select,
.payment-options label {
  font-size: 0.85rem;
}

.payment-options input[type="radio"] {
  margin-right: 5px;
}

/* Pay-it Button */
.pay-it-button {
  padding: 10px 20px;
  font-size: 16px;
}

/* Cancel Button */
.cancel-button {
  padding: 8px 16px;
  margin-top: 10px;
}

.cancel-button:hover {
  background-color: darkred;
}

/* Custom Login Text */
.custom-login-text {
  font-size: 2rem;
  font-weight: bold;
}