#root {
  text-align: center;
  margin: 1.2rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  padding: 20px;
}

.authenticator {
  background-color: #DAA520;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Position Logout button in the top-right */
.top-right-logout {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Styling for the card view of upcoming bills */
.bill-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, width 0.3s ease, height 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.bill-card.expanded-card {
  width: 80%;
  height: auto;
  /* Adjust the height dynamically when the card expands */
}

.bill-card.greyed-out {
  background-color: #d3d3d3;
  /* Greyed out if due date has passed */
  color: #777;
}

/* Centered Bank Name in header */
.bill-card h4 {
  margin-bottom: 10px;
  text-align: center;
}

.bill-card p {
  margin: 5px 0;
}

/* Pay Button Styling in footer */
.bill-card .pay-button {
  background-color: #DAA520;
  color: black;
  border: none;
  padding: 8px 16px;
  /* Decreased padding for smaller button size */
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-size: 0.75rem;
}

.bill-card .pay-button:hover {
  background-color: lightblue;
}

/* Adjust font size of "Login or Signup!" */
.custom-login-text {
  font-size: 2rem;
  font-weight: bold;
}

/* Styling for the tabs in Protected.js */
.tabs {
  margin-bottom: 20px;
}

.tabs button {
  background-color: #DAA520;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.tabs button:hover {
  background-color: lightblue;
}

/* Active tab styling */
.tabs button.active {
  background-color: lightblue;
  color: black;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 20px;
}

/* Modal Styling for popup underneath Pay button */
.modal {
  position: absolute;
  top: 100%;
  left: 12.5%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 75%;
  display: flex;
  justify-content: space-around;
  font-size: 0.65rem;
}

/* Small Button styling for PayNow and AutoPay */
.small-button {
  background-color: #DAA520;
  color: black;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  font-size: 0.5rem;
  text-align: center;
  min-width: 10px;
}

.small-button:hover {
  background-color: lightblue;
}

/* Payment method and radio buttons styling */
.payment-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.payment-options select {
  padding: 5px;
  font-size: 0.85rem;
  margin-bottom: 10px;
}

.payment-options label {
  display: inline-block;
  font-size: 0.85rem;
}

.payment-options input[type="radio"] {
  margin-right: 5px;
}

/* PayIt button styling */
.pay-it-button {
  background-color: #DAA520;
  color: black;
  padding: 6px 12px;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
}

.pay-it-button:hover {
  background-color: lightblue;
}

/* Cancel Button Styling */
.cancel-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.cancel-button:hover {
  background-color: darkred;
}

/* Confirm/Cancel Popup Modal */
.cancel-modal {
  position: absolute;
  top: 100%;
  left: 12.5%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 75%;
  display: flex;
  justify-content: space-around;
  font-size: 0.65rem;
}

/* Plaid button styling */
button {
  background-color: #DAA520;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: lightblue;
}